#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
  background-color: #B5AB90;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  text-align: center;
  padding: 20px;
  background-color: #F5F5ED;
}

.card-container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px; 
  padding: 20px;
}

@media (max-width: 600px) {
  .card-container {
    flex-direction: column; 
    align-items: center;
  }
}

iframe {
  margin-top: 20px;
  border-radius: 8px;  /* Optional: Add rounded corners to the player */
}

.left-aligned {
  float: left;
  margin-right: 10%;
  width: 30%;
  height: 30%;
  padding-top: 8%;
}

.personalityStat {
  padding-top: 8%;
  padding-left: 30%;
  width: 60%;
}

.carouselTitle{
  padding-top: 8%;
}

br {
  line-height: 2; 
  display: block;
  content: "";
  height: 20px; 
}

h3 {
  color: #94745c;
}

.sources {
  font-family: 'Times New Roman', Times, serif;
}

.title{
  color: #7e5346;
}
