#root {
  width: 100%;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
  background-color: #B5AB90;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  text-align: center;
  padding: 20px;
  background-color: #F5F5ED;
}

.card-container {
  margin-top: 8%;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px; 
  padding: 20px;
  margin-bottom: 8%;
}

@media (max-width: 600px) {
  .card-container {
    flex-direction: column; 
    align-items: center;
  }
}

.top {
  margin-bottom: 8%;
}

iframe {
  margin-top: 2%;
  border-radius: 8px;  
}

.left-aligned {
  float: left;
  margin-right: 10%;
  width: 30%;
  padding-top: 8%;
  padding-left: 4%;
}

.personalityStat {
  padding-top: 8%;
  padding-left: 40%;
  width: 60%;
  margin-bottom: 20%;
}

.personality {
  padding-top: 8%;
  height: 25%;
}
.carouselTitle{
  padding-top: 8%;
}
.caurosel {
  display: flex;
  align-items: center;
  justify-content: center;   
}

br {
  line-height: 2; 
  display: block;
  content: "";
  height: 20px; 
}

h3 {
  color: #94745c;
}

.sources {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10%
}

.title{
  color: #7e5346;
}
